@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Style for the button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  background-color: #f3f3f3; 
}


@media only screen and (max-width: 999px) {
  .container {
    flex-direction: column; 
    align-items: center; 
  }

  button {
    width: 100%; 
  }
}



/* Style for the description */
.description {
  display: none; 
  position: absolute;
  top: 80px; 
  left: 50%; 
  width: 200px;
  transform: translateX(-50%); 
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 15px;
  border-radius: 10px; 
}

/* Create a triangular shape to resemble a speech bubble */
.description::before {
  content: "";
  position: absolute;
  top: -20px; 
  left: 50%;
  border-width: 10px; 
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
  transform: translateX(-50%);
}

/* Show the description when hovering over the button */
.button-container:hover .description {
  display: block;
}

button {
  width: 180px; 
  height: 70px; 
  margin: 5px;
  padding: 10px 20px;
  background-color: #3870ac;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 

  /* Text styles */
  font-size: 13px;
  font-weight: bold; 
  text-transform: uppercase; 
}

/* Hover effect for the buttons */
button:hover {
  background-color: #295c96; 
}

/* Style for the separator */
.separator {
  width: 5px; 
  height: 50px; 
  margin: 0 10px; 
  display: inline-block; 
  vertical-align: middle; 
  margin-left: 30px;
  margin-right: 30px;
  border-left: 3px dashed rgb(120, 116, 116); 
}

.grid {
  display: grid;
  grid-gap: 1px;
  margin-top: 150px;
  justify-content: center; 
  transform: scale(1);
}


/* Style for grid cells */
.grid > div {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* Style for the visualization buttons */
.visualization-button {
  
  background-color: #518491;
}

.visualization-button:hover {
  background-color: #416875;
}

.clear-container {
  background-color: #be391b;
}

.middle-container {
  background-color: orange;
  margin-right: 10px;
}

/* Retro Style Title */
.retro-title {
  text-align: center; 
  font-size: 2.5em; 
  color: #fc3; 
  text-shadow: 3px 3px 0 #ed2939,
               6px 6px 0 #f9a602, 
               9px 9px 0 #ffcd00; 
  font-family: 'Press Start 2P', cursive;
  margin-top: 20px; 
}
